/* ...common style start... */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
/* ...common style end... */

/* ...header start ... */
.container{
   padding-top: 3em;
}
.header{
    width: 85%;
    background-color: aquamarine;
    margin: 0 auto;
    border-radius: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-info{
    width: 50%;
    padding-bottom: 1.5em;
}
.header-info .header-text{
    width: 100%;
    width: 100%;
    padding: 0 0 0 3em;
}
.header-text h1{
    font-size: 6rem;
}
.header-text p{
    font-size: 1.5rem;
    padding-bottom: 1.5em;
}
.header-btn{
    border: 1px solid #c0392b;
    font-size: 1.5rem;
    padding: .8em 2em;
    color: #c0392b;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease 0s;
    
}
.header-btn:after{
    background-color: #c0392b;
    content: ''; 
    position: absolute;  
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.header-btn:hover{
    color: #fff;
    /* z-index: -1; */
}
.header-btn:hover:after{
    width: 100%;
    /* z-index: -1; */
}
.header-img{
    width: 50%;
}
.header-img img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1100px) {
    .header-text h1{
        font-size: 3rem;
    }
    .header-text p{
        font-size: 1rem;
    }
    .header-btn{
        padding: 10px 15px;
    }
    
}

@media only screen and (max-width: 800px) {
    .header-text h1{
        font-size: 2rem;
    }
    .header-text p{
        font-size: 10px;
    }
    .header-btn{
        padding: 7px 15px;
    }
    
}
@media only screen and (max-width: 500px) {
    .header{
    flex-direction: column;
    justify-content: center;
    }
    .header-info{
        width: 100%;
        height: 50%;
        text-align: center;
        padding-bottom: 1em;
    }
    .header-info .header-text{
        padding: 0 0 0 0;
    }
    .header-info{
        padding: 2em;
    }
    .header-img{
        width: 50%;
        height: 50%;
        text-align: center;
    }
    .header-text h1{
        font-size: 2rem;
    }
    .header-text p{
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .header-btn{
        padding: 7px 15px;
    }
    
}

/* ...header end ... */

/* menu & article start  */

.main-container{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 7rem;

}
.menu{
    width: 23%;
    height: 350px;
    background-color: black;
    border-radius: 12px;
}
.menu_btns{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
}
.menu_btns a{
display: block;
text-decoration: none;
background-color: #fff;
margin-top: 20px;
width: 90%;
height: 70px;
color: black;
text-align: center;
border-radius: 10px;
padding-top: 18px;
font-size: 1.5rem;

}
.blog{
    background-color: red !important;
}






/* menu & article end  */


























































