/* ...common style start... */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
/* ...common style end... */


/* ...header start... */
#header{
    display: flex;
    justify-content: center;
    padding-top: 5em;
}
.header{
    background-color: #c5d5cb;
    width: 85%;
    height: 85vh;
    border-radius: 2em;
}
/* ...header end...*/


