/* ...common style start... */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
/* ...common style end... */

/* ...header start ... */
.container{
   padding-top: 3em;
}
.header{
    width: 60%;
    background-color: aquamarine;
    margin: 0 auto;
    border-radius: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-info{
    width: 50%;
    padding-bottom: 1.5em;
}
.header-info .header-text{
    width: 100%;
    width: 100%;
    padding: 0 0 0 3em;
}
.header-text h1{
    font-size: 4.5rem;
}
.header-text p{
    font-size: 1rem;
    padding-bottom: 1.5em;
}
.header-btn{
    border: 1px solid #c0392b;
    font-size: 1.4rem;
    padding: .8em 1.8em;
    color: #fdfcfc;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #c0392b; 
    transition: all 1s ease-in-out;
}
.header-btn:hover{
background-color: green;
padding: 1.2em 2.2em;
border-radius: 20px;
font-size: 1.6rem;
}
.header-img{
    width: 50%;
}
.header-img img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1100px) {
    .header-text h1{
        font-size: 3rem;
    }
    .header-text p{
        font-size: 1rem;
    }
    .header-btn{
        padding: 10px 15px;
    }
    
}

@media only screen and (max-width: 800px) {
    .header-text h1{
        font-size: 1.7rem;
    }
    .header-text p{
        font-size: 10px;
    }
    .header-btn{
        padding: 7px 15px;
    }
    
}
@media only screen and (max-width: 500px) {
    .header{
    flex-direction: column;
    justify-content: center;
    }
    .header-info{
        width: 100%;
        height: 50%;
        text-align: center;
        padding-bottom: 1em;
    }
    .header-info .header-text{
        padding: 0 0 0 0;
    }
    .header-info{
        padding: 2em;
    }
    .header-img{
        width: 50%;
        height: 50%;
        text-align: center;
    }
    .header-text h1{
        font-size: 2rem;
    }
    .header-text p{
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .header-btn{
        padding: 7px 15px;
    }
    
}

/* ...header end ... */

/* main section start  */

.main-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 7rem;

}
.menu{
    width: 280px;
    height: 350px;
    background-color: black;
    border-radius: 12px;
}
.menu_btns{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
}
.menu_btns a{
display: block;
text-decoration: none;
background-color: #fff;
margin-top: 20px;
width: 90%;
height: 70px;
color: black;
text-align: center;
border-radius: 10px;
padding-top: 18px;
font-size: 1.5rem;

}
.blog{
    background-color: red !important;
}
.cards{
    width: 75%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}
.card{
    width:30%;
    height: 20%;
    border: 1px solid rgb(252, 250, 250);
    border-radius: 7px;
}
.card-img{
    display: flex;
    align-items: center;
}
.card-img img{
width: 100%;
}
.card-info h3{
text-align: center;
}
.card-comment p{
padding-left: 4.2rem;
}
.card-info h3{
    font-size: 1em;
    font-weight: 500;
    padding: 1em 0 .5em 0;
}
.card-info p{
    font-size: 11px;
}
.view-all{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    display: none;
}
.view-all a{
    text-decoration: none;
    color: #fff;
    background-color: #c0392b;
    padding: 1em 2.5em;
    border-radius: 5px;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1100px) {
    .main-container{
        flex-direction: column;
        padding-top: 3em;
    }
    .menu{
        width: 100%;
        height: auto;
        background-color: #fff;
        border-radius: 12px;
        padding-bottom: 1.2em;
    }
    .menu_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    }
    .menu_btns a{
        text-decoration: none;
        background-color: rgb(218, 215, 215);
        margin-top: 20px;
        width: 30%;
        height: 80px;
        color: black;
        text-align: center;
        border-radius: 10px;
        padding-top: 25px;
        font-size: 1.5rem;
        }
        .cards{
            width: 100%;
        }
        .card{
            width: 48%;
        }
        .card-dis-none{
            display: none;
        }
        .view-all{
            display: flex;
            justify-content: center;
            padding-top: 5em;
        }

}
@media only screen and (max-width: 800px) {
    .main-container{
        flex-direction: column;
        padding-top: 3em;
    }
    .menu{
        width: 100%;
        height: auto;
        background-color: #fff;
        border-radius: 12px;
        padding-bottom: 1.2em;
    }
    .menu_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    }
    .menu_btns a{
        text-decoration: none;
        background-color: rgb(218, 215, 215);
        margin-top: 20px;
        width: 30%;
        height: 80px;
        color: black;
        text-align: center;
        border-radius: 10px;
        padding-top: 20px;
        font-size: 1.5rem;
        }
        .cards{
            width: 100%;
        }
        .card{
            width: 45%;
        }
        .card-dis-none{
            display: none;
        }
        .view-all{
            display: flex;
            justify-content: center;
            padding-top: 5em;
        }

}
@media only screen and (max-width: 500px) {
    .main-container{
        flex-direction: column;
        padding-top: 10px;
    }
    .menu{
        width: 100%;
        height: auto;
        background-color: #fff;
        border-radius: 12px;
        padding-bottom: 1.2em;
    }
    .menu_btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    }
    .menu_btns a{
        text-decoration: none;
        background-color: rgb(218, 215, 215);
        margin-top: 20px;
        width: 60%;
        height: 80px;
        color: black;
        text-align: center;
        border-radius: 10px;
        padding-top: 20px;
        font-size: 1.5rem;
        }
        .up-match{
            width: 80% !important;
        }
        .cards{
            width: 100%;
        }
        .card{
            width: 100%;
        }
        .card-dis-none{
            display: block;
        }
        .view-all{
            display: none;
        }

}
/* main section end  */


/* footer section end  */
.footer{
    background-color: black;
    width: 60%;
    margin: 0 auto;
}
.goal{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding: 5rem 0 2rem 0;
}
.goal h1{
    color: #fff;
    font-size: 1.7rem;
}
.footer-menu{
    width: 55%;
    padding: 2.5em 0 3em 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}
hr{
    width: 85%;
    margin: 0 auto; 
}
.footer-menu p{
    color: rgb(221, 192, 192);
    font-size: 10px;
}
.social-icons{
display: flex;
justify-content: center;
gap: 1.5em;
padding-bottom: 2em;
font-size: 1rem;
cursor: pointer;
}
.social-icons .fa-brands{
    color: #fff;
}

@media only screen and (max-width: 1100px) {
    .footer-menu{
        width: 80%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }
}
@media only screen and (max-width: 800px) {
    .footer-menu{
        width: 80%;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }
}
@media only screen and (max-width: 500px) {
    .footer-menu{
        width: 50%;
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5em;
    }
    .goal{
        margin-top: 2rem; 
    }
}
/* footer section end  */
